<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Form</title>
		<link rel="icon" href="/static/img/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/css/uikit.min.css">
	</head>
	<body class="login uk-cover-container uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-overflow-hidden uk-light" data-uk-height-viewport>
		<!-- overlay -->
		<div class="uk-position-cover uk-overlay-primary"></div>
		<!-- /overlay -->
		<div class="uk-position-bottom-center uk-position-small uk-visible@m uk-position-z-index">
			<span class="uk-text-small uk-text-muted">Served to you by <a href="https://github.com/frmdstryr/zhp" target="_blank">ZHP</a></span>
		</div>
		<div class="uk-width-medium uk-padding-small uk-position-z-index" uk-scrollspy="cls: uk-animation-fade">
			{% form %}
		</div>

		<!-- JS FILES -->
		<script src="/static/js/uikit.min.js"></script>
		<script src="/static/js/uikit-icons.min.js"></script>
	</body>
</html>
